<div ng-include="'partials/navbar.html'"></div>

<div class="col-md-8 col-md-offset-2">

  <!-- SEARCH BAR -->
  <div id="custom-search-input">
      <div class="input-group col-md-12">
          <input ng-model="search.$" type="text" class="form-control input-lg" placeholder="Search" />
          <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
          </span>
      </div>
  </div>

  <!-- SEARCH RESULTS / LISTING -->
  <table id="searchObjResults">
    <tr ng-repeat="item in products | filter:search">
      <td>
        <div class="list-group">
        <a href="{{item.url}}"><h4 class="list-group-item-heading">{{item.name}} - ${{item.price}}</h4></a>
        <p class="list-group-item-text"><em>{{item.description}}</em></p>
        </div>
      </td>
    </tr>
  </table>
	
</div>
