
<nav class="navbar navbar-default">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->

	<!-- Menu Right Justified -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <h3>Bangazon</h3>
	  <h3>Welcome, First Name Last Name</h3>

	<!-- Menu Left Justified -->
		<ul class="nav navbar-nav">
			<li><a href="#!/view_order" id="count"><span class="glyphicon glyphicon-shopping-cart"></span> View Cart</a></li>
      <li><a href="#!/product_list">Products</a></li>
			<li><a href="#">Logout</a></li>
	 	</ul>

	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>